/*
Правильный язык для страницы +
Правильная структура заголовков +
Структура сайта с использованием landmarks +
alt для изображений +
Контраст текста относительно фона +
Изменяемый размер текста + (строчка 131)
Предсказуемый tab order +
Связанные label с полями формы +
Адекватное отображение страницы при увеличении масштаба +
Использование skip link.
*/

@use 'mixin' as m;

@import "base.scss";

.skip-link {
    color: #3f51b5;
    position: fixed;
    top: -100%;
    
    &:focus {
      top: 0;
    }
  }

header {
    display: block;
    a {
        text-decoration: underline;
    }
}

.logo {
    display: flex;
    justify-content: center;
    h3 {
        font-size: 2em;
    }
}

.nav {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px auto;
}

.header-title {
    margin-top: 100px;
}

.btn-application {
    border: 1px solid #967675;
    border-radius: 6px;
    transition: all .2s linear;
    padding: 10px 50px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &_item {
        max-width: 300px;
        p {
            padding-left: 50px;
        }
    }
}

.image {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &_pic {
        min-width: 300px;
    }
    &_title {
        width: 400px;
    }
}

@media (max-width: 768px){
    .image {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &_pic {
            min-width: 300px;
        }
    }
}

.outRange {
    &_name {
        display: flex;
        flex-flow: column;
        justify-content: center;
        p {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
    }
}

.assort {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 100px;
}

.type {
    width: 500px;
    min-width: 300px;
    background-color: #F6ECE8;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    h3 {
        text-align: center;
    }
}

.newsletter {
    background-color: #F9F2EF;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    p {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}

@media (max-width: 500px){
    .newsletter h1{
        font-size: 3em;
    }
}

.news {
    &_form {
        max-width: 900px;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
    }
}

input{
    width: 500px/2;
    height: 25px*2;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 42px;
    text-align: center;
    color: #DCCBC6;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media (min-width: 500px){
    input {
        margin-right: 10px;
        margin-bottom: 0px;
    }
}

button {
    @include m.textFont;
    @extend .btn-application;
    background: #FFFFFF;
    box-sizing: border-box;
}

.footer {
    color: #FFFFFF;
    background-color: #23242C;
    padding: 100px;
    h4 {
        color: white;
    } 
    h5 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: normal;
        color: white;
        font-size: 1em;
        line-height: 32px;
    }   
}

@media print {
    @page {
        margin-left: 3cm;
        margin-right: 3cm;
    }

    *,*::before,*::after{
        margin: 0;
        padding: 0;
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    h3 {
        font-size: 0.5in;
    }

    p {
        font-size: 0,145in;
    }

    .noprint {
        display: none;
    }

    .assort {
        display: block;
    }

    .printBlockFirst {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    .printBlockSecond {
        @extend .printBlockFirst;
    }

    .printBlockThird {
        @extend .printBlockFirst;
    }

    .printBlockFourth {
        @extend .printBlockFirst;
    }

    .footer {
        @extend .printBlockFirst;
    }
} 